<div class="col-lg-12 col-sm-12 col-md-12">
    <div class="top-bar">
        <h1>Product Catalogue</h1>
        <a href="/admin/catalogue/add-product" class="btn btn-top" role="button">
            <i class="fa fa-plus" aria-hidden="true"></i>  Add product</a>
        <a href="/admin/catalogue/delete/" class="btn btn-top" role="button">
            <i class="fa fa-trash" aria-hidden="true"></i>  Delete all</a>
    </div>
    <table class="table-hover">
        <tr>
            <th class="admin-th"></th>
            <th class="admin-th">Title</th>
            <th class="admin-th">Genre(s)</th>
            <th class="admin-th">Platform</th>
            <th class="admin-th">Stock</th>
            <th class="admin-th">Price</th>
            <th class="admin-th">Description</th>
            <th class="admin-th"></th>
        </tr>
        {{#each productList}}
            <tr>
                <td class="admin-td"><img class="item-thumbnail" src="{{imagePath}}"></td>
                <td class="admin-td"><b>{{title}}</b></td>
                <td class="admin-td">{{#each genre}}{{this}}<br>{{/each}}</td>
                <td class="admin-td">{{platform}}</td>
                <td class="admin-td">{{quantity}}</td>
                <td class="admin-td"><span class="product-qty badge">${{price}}</span></td>
                <td class="admin-td"><i>{{description}}</i></td>
                <td class="admin-td" style="min-width: 150px">
                    <div class="btn-group" style="display: inline-block" role="group">
                        <a href="/admin/catalogue/update/{{this._id}}" class="btn" role="button">
                            <i class="fa fa-edit" aria-hidden="true"></i></a>
                        <a href="/admin/catalogue/delete/{{this._id}}" class="btn" role="button">
                            <i class="fa fa-trash" aria-hidden="true"></i></a>
                    </div>
                </td>
            </tr>
        {{/each}}
    </table>
</div>

<link rel="stylesheet" href="/stylesheets/style.css" />
<link rel="stylesheet" href="/stylesheets/admin.css" />


