<div class="row"><h3>Top 10 trending products</h3></div>
<table class="table-hover">
    <tr>
        <th class="admin-th">Item name</th>
        <th class="admin-th">Copies sold</th>
    </tr>
    {{#each top10Data}}
        <tr>
            <td class="admin-td">{{this.title}}</td>
            <td class="admin-td">{{this.count}}</td>
        </tr>
    {{/each}}
</table>
<div class="row">
    <h3>Sales statistics</h3>
    <div class="sales_button_row">
        <form class="form-inline form-inline-lg" action="/admin/stat/" method="post">
            <div class="form-group">
                <label for="scale">Get statistics by: </label>
                <select class="selectpicker" name="scale" id="scale">
                    <option value="Week">Week</option>
                    <option value="Month" selected>Month</option>
                    <option value="Quarter">Quarter</option>
                    <option value="Year">Year</option>
                </select>
            </div>
            <button class="btn btn-lg" type="submit"><i class="fa fa-refresh" aria-hidden="true"></i> Refresh</button>
        </form>
    </div>
</div>
<table class="table-hover">
    <tr>
        <th class="admin-th">{{scale}}</th>
        <th class="admin-th">Items sold</th>
    </tr>
    {{#each statData}}
        <tr>
            <td class="admin-td">{{this._id}}</td>
            <td class="admin-td">{{this.count}}</td>
        </tr>
    {{/each}}
</table>
<div id="sales-chart">
</div>
</div>

<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="/stylesheets/style.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<script src="/javascripts/admin_dashboard.js"></script>
<link rel="stylesheet" href="/stylesheets/admin.css"/>

