<div class="col-lg-12 col-sm-12 col-md-12">
    <div class="top-bar">
        <h1>Review Orders</h1>
    </div>
    <table class="table-hover">
        <tr>
            <th class="admin-th">E-mail</th>
            <th class="admin-th">Address</th>
            <th class="admin-th">Recipient name</th>
            <th class="admin-th">Phone</th>
            <th class="admin-th">Delivered</th>
            <th class="admin-th">Payment ID</th>
            <th class="admin-th">Contents</th>
            <th class="admin-th"></th>
        </tr>
        {{#each orderList}}
            <tr>
                <td class="admin-td">{{this.user.email}}</td>
                <td class="admin-td">{{this.address}}</td>
                <td class="admin-td">{{this.name}}</td>
                <td class="admin-td">{{this.phone}}</td>
                <td class="admin-td">{{this.received}}</td>
                <td class="admin-td">{{this.paymentId}}</td>
                <td class="admin-td">{{#each this.items}}{{this.item.title}}<br>{{/each}}</td>
                <td style="min-width: 100px">
                    <a href="/admin/orders/flip/{{this._id}}" class="btn" role="button">
                        <i class="fa  fa-dot-circle-o" aria-hidden="true"></i>  Change status</a>
                </td>
            </tr>
        {{/each}}
    </table>
</div>

<link rel="stylesheet" href="/stylesheets/style.css" />
<link rel="stylesheet" href="/stylesheets/admin.css" />