<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><img src="/images/logo.png" width="161" height="40"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                {{#equal user.role 'admin'}}
                    <li>
                        <a href="/admin/dashboard"><i class="fa  fa-dashboard" aria-hidden="true"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="/admin/catalogue"><i class="fa fa-list" aria-hidden="true"></i> Product Catalogue</a>
                    </li>
                    <li>
                        <a href="/admin/orders"><i class="fa fa-money" aria-hidden="true"></i> Customer Orders</a>
                    </li>
                    <li>
                        <a href="/admin/users/user-list"><i class="fa fa-user-circle" aria-hidden="true"></i> Manage Users</a>
                    </li>
                {{/equal}}
                {{#notequal user.role 'admin'}}
                    <li>
                        <a href="/"><i class="fa fa-gamepad" aria-hidden="true"></i> Home</a>
                    </li>
                    <li>
                        <a href="/shopping-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Shopping Cart
                            <span id="cartQuantity" class="badge">{{session.cart.totalQty}}</span></a>
                    </li>
                {{/notequal}}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {{#if login}}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i> {{user.email}} <span
                                class="caret"></span></a>
                        <ul class="dropdown-menu inverse">
                            <li><a href="/user/profile">My account</a></li>
                            <li><a href="/user/logout">Logout</a></li>
                        </ul>
                    </li>
                {{else}}
                    <li><a class="purple" href="/user/signin"><i class="fa fa-user" aria-hidden="true"></i> <span>Sign In</span></a></li>
                {{/if}}
            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>