<div class="row">
    <div class="jumbotron col-md-4 col-md-offset-4">
        <h1>Sign In</h1>
        <hr>
        {{# if hasErrors}}
            <div class="alert alert-danger">
                {{# each messages}}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        {{/if}}
        {{#if userMsg}}
            <div class="alert alert-warning">
                <p>{{userMsg}}</p>
            </div>
        {{/if}}
        <form action="/user/signin" method="post">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control">
            </div>
            {{!--<input type="hidden" name="_csrf" value="{{ csrfToken }}">--}}
            <br>
            <br>
            <button class="btn btn-primary btn-main" type="submit">Sign In</button>
        </form>
        <hr>
        <div><a class="label label-info" href="/user/signup"> Sign Up!</a><span> </span><a class="label label-default" href="/user/forgot-password"> Forgot Password </a></div>
    </div>
</div>