<div class="row">
    <div class="jumbotron col-md-4 col-md-offset-4">
        <h1>Enter your password</h1>
        <hr>
        {{#if hasMessage}}
            <div class="alert alert-danger">
                {{#each messages}}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        {{/if}}
        <form action="{{#if isForgot}}/user/forgot-password/change{{else}}/user/update-password{{/if}}" method="post">
            {{#unless isForgot}}
                <div class="form-group">
                    <label for="currentPassword">Current password</label>
                    <input type="password" id="currentPassword" name="currentPassword" class="form-control">
                </div>
            {{/unless}}
            <div class="form-group">
                <label for="password">New password</label>
                <input type="password" id="password" name="password" class="form-control">
            </div>
            <div class="form-group">
                <label for="email">Repeat new password</label>
                <input type="password" id="repeatPassword" name="repeatPassword" class="form-control">
            </div>
            <button class="btn btn-primary" type="submit">Confirm</button>
        </form>
    </div>
</div>