/*Global*/
body{
    background-color: #212121;
    padding-top: 70px;
}

.btn.btn-primary, .btn.btn-primary:active{
    background-color: #4E4E4E;
    border-color: #4E4E4E;
}

.jumbotron h1 {
    font-family: 'Roboto Black', sans-serif;
}

.padding-0 {
    padding-left: 2px;
    padding-right: 2px;
}

.btn.btn-primary.btn-main {
    background-color: #6262BC;
}


/*Header*/
.navbar-brand {
    margin-top: -8px;
    font-weight: bold;
    font-size: 24px;
}

.navbar {
    border-radius: 0 !important;
    background-color: #212121;
    border-color: #212121;
}

.navbar-inverse a { color: #ccc !important; }
/*.navbar-inverse a:hover { }*/
.navbar-nav a { font-weight: 400; font-size: 15px; }
.navbar{
    font-family: "Open Sans", sans-serif !important;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

.nav.navbar-nav.navbar-left li a {
    font-size: 15px;
    width: 180px;
}

.nav.navbar-nav.navbar-right li a:hover {
    background-color: #6262BC;
}

.purple {
    font-size: 15px;
    width: 140px;
    background-color: #6262BC;
    margin-right: 50px;
}

.nav.navbar-nav.navbar-right a.dropdown-toggle {
    font-size: 15px;
    width: auto;
    background-color: #212121;
}

.nav.navbar-nav.navbar-right a.dropdown-toggle:hover {
    background-color: #212121;
}

.dropdown-menu.inverse { background: #212121; }
.dropdown-menu.inverse a:hover{ }

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-image:none !important;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #6262BC;
}

/*Index*/

#success {
    background-color: #6262BC;
    color: white;
    font-size: 15px;
    border: none;
}

.thumbnail .description {
    color: #7f7f7f;
    font-weight: bold;
}

.thumbnail .label.label-warning {
    background-color: #6262BC;
}

.index-title {
    font-family: 'Roboto Black', sans-serif;
    color: #595959;
    font-size: 25px;
}

.index-title:hover{
    color: #595959;
}

.index-title-container {
    margin-bottom: 0;
}

/*.description{
    color: #7f7f7f;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}*/

.price {
    font-family: "Roboto Medium", sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.label {
    font-size: 14px;
}

.cover-art {
    width: 100%;
}

/*Thumbnail hover*/
.container{

}

.thumbnail,textarea{
    border-radius: 5px;
    overflow: hidden;
}
.caption {
    position:absolute;
    /*bottom:0;*/
    top:0;
    right:0;
    background: rgba(0, 0, 0, 0.9);
    width:100%;
    height:auto;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}

.thumbnail-title {
    position:absolute;
    bottom:0;
    right:0;
    background: rgba(0, 0, 0, 0.57);
    width:100%;
    height:auto;
    padding:3%;
    display: block;
    text-align:left;
    padding-left: 15px;
    padding-top: 5px;
    color:#fff !important;
    z-index:2;
}

textarea{
    resize: none;
}
.thumbnail{
    position: relative;
    /*border: 1px solid #BDC3C7;
    padding: 10px;
    margin: 5px;*/
    background-color: white;
}
.frow{
    position: relative;
}

.secrow{
    position: relative;
}

.thirdrow {
    padding: 10px;
    margin-bottom: 0;
}


/*Carousel*/
#myCarousel {
    margin-bottom: 70px;
    margin-left: 15px;
    margin-right: 15px;
}

#myCarousel img {
    min-width: 100%;
    height: auto;
}

/*-----Search bar*/
.form-inline {
    margin-bottom: 20px;
}

.form-inline .form-control {
    width: 60%;
    display: inline-block;
    vertical-align: top;
    background-color: #212121;
    border-radius: 30px;
    color: white;
    margin-left: 20px;
    border: none;
}

.bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
    width: auto;
    max-width: 200px;
    margin-left: 15px;
    color: #6262BC;
}

.bootstrap-select .btn {
    background-color: #212121;
    border-radius: 23px;
    height: 45px;
    color: white;
    border: none;
    font-size: 16px;
}

.searchBtn{
    margin-left: 15px;
    border-radius: 50%;
    background-color: #212121;
    color: white;
    vertical-align: middle;
    font-size: 30px;
    border: none;
}

/*-----/Search bar*/

.profile-picture{
    max-height: 120px;
    max-width: 120px;
    border-radius: 50%;
    margin-bottom: 25px;
}


/*Comment Box Style*/
.commenterImage {
    width:30px;
    margin-right:15px;
    height:100%;
    float: left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText {
    font-family: "Roboto Light", sans-serif;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 0px;
}
.sub-text {
    color:#aaa;
    font-family: verdana, sans-serif;
    font-size:11px;
}

.commenterName {
    font-family: "Roboto Medium", sans-serif;
    margin-bottom: 3px;
    color: white;
}

#commentSection div.panel-heading{
    background-color: #595959;
}

#commentSection div.panel-body{
    word-break: break-all;
}

/*Product details page*/
.detail-buy{
    width: 15%;
}

.detail-price{
    font-family: "Roboto Medium", sans-serif;
    font-size: 30px;
}

.suggest img {
    width: 100%;
}

.suggest p {
    font-family: 'Roboto Black', sans-serif;
    font-size: 20px;
    color: #595959;
}

.details-page .label.label-warning{
    background-color: #151515;
}

.tab-pane .panel-heading{
    background-color: #6262BC;
    color: white;
}
