<div class="row">
    <div class="col-sm-12 col-md-12">
        <div id="success" class="alert alert-success" {{#if noMessage}}hidden{{/if}}>
            {{ successMsg}}
        </div>
    </div>
</div>
{{!--Banner--}}
<div class="row">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="http://images.cgmagonline.com/2017/03/destiny-2-official-reveal-trailer-unveiled-6.jpg" alt="Chania">
                <div class="carousel-caption">
                    <h3>Destiny 2</h3>
                    <p>Coming soon Sep 2017</p>
                </div>
            </div>

            <div class="item">
                <img src="https://images.alphacoders.com/696/696097.jpg" alt="Chicago">
                <div class="carousel-caption">
                    <h3>Doom</h3>
                    <p>Game Of The Year Edition</p>
                </div>
            </div>

            <div class="item">
                <img src="https://images7.alphacoders.com/675/675990.jpg" alt="New York">
                <div class="carousel-caption">
                    <h3>Overwatch</h3>
                    <p>Run if you hear angry japanese</p>
                </div>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div class="jumbotron">
    <div class="row">
        <form class="form-inline form-inline-lg" action="/" method="post">
            <input type="text" id="productSearchName" name="productSearchName" placeholder="Name"
                   class="form-control input-lg" value="{{searchProduct.name}}">
            <select class="selectpicker" multiple title="Genre" name="productSearchGenre" id="productGenre">
                {{#each genreList}}
                    <option>{{this}}</option>
                {{/each}}
            </select>
            <select class="selectpicker" title="Platform" name="productSearchPlatform" id="productPlatform">
                {{#each platformList}}
                    <option>{{this}}</option>
                {{/each}}
            </select>
            <button class="searchBtn" type="submit"><i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </form>
    </div>
    {{# each products }}
        <div class="row">
            {{# each this}}
                <div class="col-sm-6 col-md-4 padding-0">
                    {{!--<div class="thumbnail">
                        <img src="{{this.imagePath}}" alt="...">
                        <div class="caption">
                            <div class="index-title-container">
                                <a class="index-title" href="/details/{{this._id}}">{{this.title}}</a>
                            </div>
                            --}}{{!--<p class="description">{{this.description}}</p>--}}{{!--
                            <div class="label label-warning">{{this.platform}}</div>
                            {{# each genre}}
                                <div class="label label-default">{{this}}</div>
                            {{/each}}
                            <hr>
                            <div class="clearfix">
                                <div class="price pull-right">${{this.price}}</div>
                                <a href="/add-to-cart/{{this._id}}"
                                   class="add-link btn btn-md index-buy pull-left" role="button"><i
                                        class="fa fa-cart-plus" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>--}}
                    <div class="thumbnail">
                        <div class="frow">
                        </div>
                        <div class="secrow">
                            <div class="caption">
                                <a href="/add-to-cart/{{this._id}}"
                                   class="add-link btn btn-md btn-success pull-left" role="button"><i
                                        class="fa fa-cart-plus" aria-hidden="true"></i></a>
                                <div class="price pull-right">${{this.price}}</div>
                            </div>
                            <div class="thumbnail-title">
                                <div class="label label-warning">{{this.platform}}</div>
                                <div class="pull-right">
                                    {{# each genre}}
                                        <div class="label label-default">{{this}}</div>
                                    {{/each}}
                                </div>

                            </div>
                            <img src="{{this.imagePath}}" alt="" class="img-responsive">
                        </div>
                        <div class="thirdrow">
                            <div class="index-title-container">
                                <a class="index-title" href="/details/{{this._id}}">{{this.title}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    {{/each}}
</div>

<script type="text/javascript" src="../javascripts/cart.js"></script>
<script type="text/javascript" src="../javascripts/thumbnail.js"></script>



